html, body {
	margin: 0;
	padding: 0;
}
body {
	background-color: #F3F3F3;
}
section.title {
  display: block;
  height: 100vh;
}
.title .intro {
	position: relative;
  	top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 1em;
    text-align: center;
    margin: 0;	
}
.title .intro h1 {
    font-family: 'Open Sans', sans-serif;
	color: #636363;
	font-size: 2.5em;
	font-weight: 600;
	margin: 0;
}
.title .intro h2 {
	font-family: 'Open Sans', sans-serif;
	color: #C8C8C8;
	font-size: 1.53em;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	margin: -7px 0 0 0;
}
.title .intro #icons {
	list-style: none outside none;
	margin: 5px 0 0 0;
	padding: 0;
	text-align: center;
}
.title .intro #icons li {
	margin: 0;
	display: inline;
}
.title .intro #icons li a {
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 25px;
}
.title .intro #icons li a:hover {
}
.title .intro #icons li a img {
	width: 25px;
	margin-top: 12.5px;
}
